---
import Badge from '../components/Badge.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import ProfilePic from '../components/ProfilePic.astro'
import Card from '../components/Card.astro'

---

<Layout >
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<ProfilePic></ProfilePic>
			<h1 class="text-5xl font-bold flex flex-row gap-x-4 pb-4">
				Hola, soy Eben <div class="flex justify-center items-center"> <Badge>Disponible</Badge>
				</div>
			</h1>
			<h2 class="text-xl opacity-80 ">
				Sin experiencia y Jodido.Blablablablablablalbalbalba
			</h2>
			<ul> <Card></Card> </ul>
	</section>
	</main>
	<Welcome />
</Layout>
