---
import Badge from '../components/Badge.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import ProfilePic from '../components/ProfilePic.astro'
import Card from '../components/Card.astro'

const cards = [
  {
    id: 'card-1',
    images: ['/images/1.png', '/images/2.png', '/images/3.png'],
    title: 'Proyecto 1',
    description: 'Descripción del Proyecto 1 con detalles interesantes.',
    link: '#',
		icons:['/icons/html5.svg','/icons/css_old.svg','/icons/javascript.svg','/icons/vscode.svg']
  },
  {
    id: 'card-2',
    images: ['/images/4.png', '/images/5.png', '/images/6.png'],
    title: 'Proyecto 2',
    description: 'Descripción del Proyecto 2, un enfoque diferente.',
    link: '#',
		icons:['/icons/html5.svg','/icons/css_old.svg','/icons/javascript.svg','/icons/vscode.svg','/icons/Express.js_light.svg','/icons/mysql.svg',
		'/icons/postman.svg','/icons/nodejs.svg','/icons/git.svg','/icons/sequelize.svg']
  },
  {
    id: 'card-3',
    images: ['/images/7.png', '/images/8.png'],
    title: 'Proyecto 3',
    description: 'Descripción del Proyecto 3 con un resumen atractivo.',
    link: '#',
		icons:['/icons/html5.svg','/icons/css_old.svg','/icons/javascript.svg','/icons/html5.svg','/icons/css_old.svg','/icons/javascript.svg']
  },
];
---

<Layout >
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<ProfilePic></ProfilePic>
			<h1 class="text-5xl font-bold flex flex-row gap-x-4 pb-4">
				Hola, soy Eben <div class="flex justify-center items-center"> <Badge>Disponible</Badge>
				</div>
			</h1>
			<h2 class="text-xl opacity-80 ">
				Sin experiencia y Jodido.Blablablablablablalbalbalba
			</h2>
			<ul class="space-y-10">
				{cards.map((card) => (
					<li>
						<Card {...card} />
					</li>
				))}
			</ul>
	</section>
	</main>
	<Welcome />
</Layout>
