---
import Badge from '../components/Badge.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import ProfilePic from '../components/ProfilePic.astro';
import Card from '../components/Card.astro';
import Timeline from '../components/Timeline.astro'
import { cards,intro1,intro2 } from '../data/dataInfo';
---

<Layout title="Eben Portfolio - Desarrollador y Programador web"
	description="Contratane polfavol"
>
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<ProfilePic></ProfilePic>
			<h1 class="text-5xl font-bold flex flex-row gap-x-4 pb-4">
				{intro1} 
				<div class="flex justify-center items-center"> <Badge>Disponible</Badge>
				</div>
			</h1>
			<h2 class="text-xl opacity-80 ">
				{intro2}
			</h2>
			<ul class="space-y-10">
				{cards.map((card) => (
					<li>
						<Card {...card} />
					</li>
				))}
			</ul>
			<Timeline/>
	</section>
	</main>
	<Welcome />
</Layout>
