---
export interface Props {

  text: string;
  icon: string; 
  href: string; 
}

// Props del componente
const {navItems = [] }: { menuText: string; navItems: NavItem[] } = Astro.props;
---

<div class="fixed flex items-center z-20 gap-4 p-4  text-white rounded-md shadow-lg">
  <!-- Botón para abrir/cerrar el menú -->
  <button
    class="p-2 bg-gray-700 rounded-md hover:bg-gray-600 transition-colors"
    onclick="document.getElementById('dropdown-menu').classList.toggle('hidden')"
  >
    Menu
  </button>

  <!-- Menú desplegable -->
  <div
    id="dropdown-menu"
    class="hidden flex items-center  text-white rounded-md shadow-xs "
  >
    <!-- Botones generados dinámicamente -->
    {navItems.map((item) => (
      <a
        href={item.href}
        class="inline-flex border-white/10 items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 hover:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 "
      >
        <img src={item.icon} alt={`${item.text} icon`} class="w-4 h-4 mr-2" />
        {item.text}
      </a>
    ))}
  </div>
</div>
