---
export interface Props {
  text: string;
  iconButton: string;
  link: string;
}

const { text, iconButton, link } = Astro.props;
---

<a
  href={link}
  class="rounded-md border border-white/10 text-gray-900 flex justify center items-center gap-x-2 py-2 px-2 bg-white/30 hover:scale-110 hover:bg-purple-400/50 transition hover:border-black/10"
  target="_blank"
  rel="noopener noreferrer"
>
  <img class="w-6 h-6 mr-2" src={iconButton} alt="" />
  {text}
</a>
