
<div class="name-container">
  <div class="name">
    <div class="cosmic" style="--color: #23b1d8" data-text="E">
      <span>E</span>
    </div>
    <div class="cosmic" style="--color: #dc5fe2" data-text="B">
      <span>B</span>
    </div>
    <div class="cosmic" style="--color: #b733f9" data-text="E">
      <span>E</span>
    </div>
    <div class="cosmic" style="--color: #a0de59" data-text="N">
      <span>N</span>
    </div>
    <div class="cosmic" style="--color: #83d1ad" data-text=".">
      <span>.</span>
    </div>
    <div class="cosmic" style="--color: #f7b500" data-text=".">
      <span>.</span>
    </div>
  </div>
</div>
