
<div class="name-container">
  <div class="name">
    <div class="cosmic" style="--color: #23b1d8" data-text="J">
      <span>J</span>
    </div>
    <div class="cosmic" style="--color: #dc5fe2" data-text="a">
      <span>a</span>
    </div>
    <div class="cosmic" style="--color: #b733f9" data-text="r">
      <span>r</span>
    </div>
    <div class="cosmic" style="--color: #a0de59" data-text="e">
      <span>e</span>
    </div>
    <div class="cosmic" style="--color: #83d1ad" data-text="d">
      <span>d</span>
    </div>
    <div class="cosmic" style="--color: #f7b500" data-text=".c">
      <span>.</span>
    </div>
  </div>
</div>
