---
const imageSrc = '/images/eben.jpg';
const altText = 'Foto de perfil portfolio';
---

<div class="circular-container flex justify-center items-center">

  
  <div
    class="circular-image-wrapper relative group w-[150px] h-[150px] rounded-full flex justify-center items-center overflow-hidden bg-gradient-to-r from-gray-700 to-gray-800"
  >
    <img
      src={imageSrc}
      alt={altText}
      class="w-full h-full object-cover rounded-full transform transition duration-700 ease-in-out group-hover:scale-110"
    />

    <div
      class="absolute inset-0 rounded-full border-4 border-transparent border-t-blue-400 border-l-purple-500 border-b-pink-500 border-r-yellow-400 animate-spin-slow"
    ></div>
  </div>
</div>

<style>
  @keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

    .animate-spin-slow {
      animation: spin-slow 8s linear infinite;
    }
  
</style>


