---
import Header from "../components/Header.astro";
import "@fontsource/poppins";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Eben Portfolio</title>
		
  <script
    type="module"
    src="https://cdn.jsdelivr.net/npm/flowbite@1.6.5/dist/flowbite.min.js"
  ></script>
	</head>
	<body class="absolute top-0 z-[-2] h-screen w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]"></body>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}
	html,
	body {
		height: max-content;
		display: flex;
		flex-direction: column;
		font-family: "Poppins", sans-serif;
		color: white;
	}
</style>
